Checks: "-*,clang-analyzer-*,google-*,hicpp-*,modernize-*,performance-*,readability-*,cert-*,bugprone-*,misc-*,fuchsia-*"
WarningsAsErrors: "-*,clang-analyzer-*,google-*,hicpp-*,modernize-*,performance-*,readability-*,cert-*,bugprone-*,misc-*,fuchsia-*"
HeaderFilter: ".*"
